<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Khalid Portfolio</title>
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        {% include 'menu.html' %}
        
    </header>

    <main>
        <section class="profile-section">
            <div class="profile-card">
                <img src="{% static 'images/khalid12.jpg' %}" alt="Profile Picture">
                <h2>Khalid Hussain</h2>
                <p>A Full Stack Developer based in Italia</p>
            </div>
            <div class="featured">
                <p class="sliding-text"><strong>FEATURED:</strong> Currently working on <em>"Food at Door"</em> food delivery app (backend: Django).</p>
            </div>
        </section>

        <section class="cards-section">
            <div class="card">
                <h3>Credentials</h3>
                <img src="static/images/signature.jpg" alt="Credentials">
            </div>
            <div class="card">
                <h3>Projects</h3>
                <img src="static/images/project list.jpg" alt="Projects">
            </div>
        </section>

        <section class="services-section">
            <div class="card">
                <h3>Services Offering</h3>
                <p>Backend Development</p>
                <p>Frontend Development</p>
                <p>Database Programming</p>
                <p>Software Architect</p>
            </div>
            <div class="card">
                <h3>Seeks to Pass Knowledge</h3>
                <img src="static/images/lecturer 1.jpg" alt="Teaching">
            </div>
        </section>

        <section class="stats-section">
            <div class="stat">
                <h3>10</h3>
                <p>Years Experience</p>
            </div>
            <div class="stat">
                <h3>+6</h3>
                <p>Companies to Work</p>
            </div>
            <div class="stat">
                <h3>+15</h3>
                <p>Total Projects</p>
            </div>
        </section>

        <section class="contact-section">
            <h3>Contact Details</h3>
            <p>Email: developerkhalid@gmail.com</p>
            <p>Phone: +393475343953</p>
        </section>
    </main>
{% include 'Footer.html' %}
</body>
</html>